$palette-background: (
  status-bar: var(--background-status-bar),
  app-bar: var(--background-app-bar),
  background: var(--background-background),
  hover: var(--background-hover),
  card: var(--background-card),
  dialog: var(--background-dialog),
  disabled-button: var(--background-disabled-button),
  raised-button: var(--background-raised-button),
  focused-button: var(--background-focused-button),
  selected-button: var(--background-selected-button),
  selected-disabled-button: var(--background-selected-disabled-button),
  disabled-button-toggle: var(--background-disabled-button-toggle),
  unselected-chip: var(--background-unselected-chip),
  disabled-list-option: var(--background-disabled-list-option),
  tooltip: var(--background-tooltip),
) !default;

$palette-foreground: (
  base: var(--foreground-base),
  divider: var(--foreground-divider),
  dividers: var(--foreground-dividers),
  disabled: var(--foreground-disabled),
  disabled-button: var(--foreground-disabled-button),
  disabled-text: var(--foreground-disabled-text),
  elevation: black,
  hint-text: var(--foreground-hint-text),
  secondary-text: var(--foreground-secondary-text),
  icon: var(--foreground-icon),
  icons: var(--foreground-icons),
  text: var(--foreground-text),
  slider-min: var(--foreground-slider-min),
  slider-off: var(--foreground-slider-off),
  slider-off-active: var(--foreground-slider-off-active),
) !default;

$test-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: var(--primary),
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
